<div class="ui two column centered grid">
    <div class="column">
        <br>
        <br>
        <br>
        <br>
        <div class="ui warning message">
            <div class="content">
                <div class="header">(╯°□°）╯︵ ┻━┻</div>
                <p>404 - Route not found</p>
            </div>
        </div>
    </div>
</div>