<section class="flex-me">
  <div class="app-list">
    <ul>
      <li>webclient <span class="status green">o</span></li>
      <li>webadmin <span class="status">o</span></li>
    </ul>
  </div>

  <main class="app-show">
    <h2 id="title">Welcome to Ember</h2>

    {{outlet}}
  </main>
</section>
